html, body {
    margin: 0;
}
body {    
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
table{
    margin-top: 50px;
    margin: auto;
}

table thead tr:hover td { /* muda a cor do td quando passa o mouse por cima */
    opacity: 70%;
    background-color: #00b0d0;
    cursor: pointer;
    margin: auto;    
}

a{
    color: #3C3A3A;
    text-decoration: none;
}
.wrapper {    
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}
.main {    
    display: flex;
    flex-flow: column;
    width: 85%;
    flex-direction: column;
}
.menu {    
    width: 15%;
    background-color:#56C1D3;
    padding: 10px 20px 10px;
    background-image: url(../assets/img-menu1.png);
    background-size:100%;
    background-position: bottom;
    background-position-x: right;
    background-repeat: no-repeat;     

}
.header {     
    background-color:#00b0d0;
    background-image: url(../assets/petHead2.png);
    background-size: cover;
    background-position: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 250px;
}
.content {    
    background-color: white;
    min-height: 500px;
    padding: 30px;
    text-align: justify;
    background-image: url(../assets/img-content-sobre.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: right;
    background-position-y: bottom;
   

}

.footer {   
    
    min-height: 100px;
}
.footer > table {    
    padding-left: 20px;    
    font-family:Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #747474;
}
.footer > table {    
    padding-left: 20px;    
    font-family:Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #747474;
}